.scope {
  margin: 10px 0;
}

.scope .header {
  position: relative;
  color: white;
  background: #ff00ff;
  height: 20px;
  line-height: 20px;
  font-weight: 500;
}

.scope .type {
  position: absolute;
  left: 10px;
}
.scope .location {
  position: absolute;
  right: 10px;
}

.editor .CodeMirror {
  height: 100%;
}

.editor {
  height: calc(100% - 200px);
}

.original {
  grid-area: original;
  overflow: scroll;
}

.generated {
  grid-area: generated;
  overflow: scroll;
}

.text {
  overflow: hidden;
  width: 100%;
  overflow-y: scroll;
}

.scopes {
  height: 190px;
  overflow: scroll;
}
